* {
  padding: 0;
  margin: auto;
  box-sizing: border-box; }

html {
  background-color: #6fcae4;
  font-size: 62.5%;
  font-family: "Bebas Neue", cursive; }

.nav {
  position: absolute;
  right: 3%;
  padding-top: 2rem; }
  .nav__list-items {
    font-size: 3rem;
    color: #292929;
    display: inline-block;
    margin: 0 2rem;
    text-transform: uppercase; }

.title-box__container {
  background-color: #292929;
  height: 110vh;
  clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0 0); }

.title-box__sub-box {
  position: absolute;
  margin-top: 10%;
  margin-left: 10%;
  letter-spacing: 1rem; }

.title-box__title {
  color: #ffffff;
  font-size: 6rem; }

.title-box__sub-title {
  color: #6fcae4;
  font-size: 3rem;
  position: absolute;
  right: 0; }

.intro-box__container {
  position: absolute;
  margin-top: 25%;
  margin-left: 10%;
  width: 33%;
  color: #ffffff;
  font-size: 3rem; }

.projects {
  position: relative;
  margin-top: -15rem;
  padding: 20rem 10%;
  margin-bottom: 5rem;
  background-color: #6fcae4;
  font-size: 3rem;
  height: 80vh;
  text-align: center;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%); }
  .projects__title {
    color: #ffffff; }
