$fa-font-path: "../webfonts";

// COLORS
$color-primary: #6fcae4;
$color-secondary: #292929;
$color-tertiary: #ffffff;

$section-title: 5rem;
$section-title-spacing: 5px;

$paragraph-font-size: 3rem;
