@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

$color-primary: #6fcae4;
$color-secondary: #292929;
$color-tertiary: #ffffff;

* {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
}

html {
  background-color: $color-primary;
  font-size: 62.5%;
  font-family: "Bebas Neue", cursive;
}

.nav {
  position: absolute;
  right: 3%;
  padding-top: 2rem;

  &__list-items {
    font-size: 3rem;
    color: $color-secondary;
    display: inline-block;
    margin: 0 2rem;
    text-transform: uppercase;
    -webkit-box-reflect: below -10px linear-gradient(transparent, #0005);
    transition: all 0.3s;

    &:hover {
      text-shadow: $color-secondary 2px 2px 8px;
      transform: translateY(-2px);
    }
  }
}

.title-box {
  &__container {
    background-color: $color-secondary;
    height: 110vh;
    clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0 0);
  }

  &__sub-box {
    position: absolute;
    margin-top: 10%;
    margin-left: 10%;
    letter-spacing: 1rem;
  }

  &__title {
    color: $color-tertiary;
    font-size: 6rem;
  }

  &__sub-title {
    color: $color-primary;
    font-size: 3rem;
    position: absolute;
    right: 0;
  }
}

.intro-box {
  &__container {
    position: absolute;
    margin-top: 25%;
    margin-left: 10%;
    width: 33%;
    color: $color-tertiary;
    font-size: 3rem;
  }
}

.projects {
  position: relative;
  margin-top: -15rem;
  padding: 20rem 10%;
  margin-bottom: 5rem;
  background-color: $color-primary;
  font-size: 3rem;
  height: 80vh;
  text-align: center;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);

  &__title {
    color: $color-tertiary;
  }
}

.contact-section {
  background-color: $color-secondary;
  height: 100vh;
  text-align: center;

  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
}

.contact-title {
  color: $color-primary;
  font-size: 3rem;
  padding-top: 20rem;
  margin: 0 auto;
}

// *********************

.contact-btn {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  margin: 40px 0;
  color: $color-primary;
  border: solid 3px;
  border-radius: 5px;

  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

a:hover {
  background: $color-primary;
  color: #050801;
  border: none;
  box-shadow: 0 0 5px $color-primary, 0 0 25px $color-primary,
    0 0 50px $color-primary, 0 0 200px $color-primary;
}
