// NAVIGATION
.nav {
  position: absolute;
  right: 3%;
  padding-top: 2rem;

  &__list-items {
    font-size: 3.4rem;
    color: $color-secondary;
    display: inline-block;
    margin: 0 2rem;
    text-transform: uppercase;
    -webkit-box-reflect: below -10px linear-gradient(transparent, #0005);
    transition: all 0.3s;

    &:hover {
      text-shadow: $color-secondary 2px 2px 8px;
      transform: translateY(-2px);
    }
  }
}
