* {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
}

html {
  background-color: $color-primary;
  font-size: 62.5%;
  font-family: "Bebas Neue", cursive;
}

body {
  background-color: $color-primary;
}
