// CONTACT SECTION
.contact {
  position: relative;
  margin-top: -15rem;

  background-color: $color-secondary;
  height: 95vh;
  text-align: center;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);

  &__title {
    color: $color-tertiary;
    font-size: $section-title;
    letter-spacing: $section-title-spacing;
    padding-top: 10rem;
    margin: 0 10% 5rem 10%;
    text-transform: uppercase;
  }
  &__btn {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    margin: 40px 0;
    color: $color-primary;
    border: solid 3px;
    border-radius: 5px;

    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    -webkit-box-reflect: below 5px linear-gradient(transparent, #0005);
  }

  &__btn:hover {
    background: $color-primary;
    color: $color-secondary;
    border: none;
    box-shadow: 0 0 5px $color-primary, 0 0 25px $color-primary,
      0 0 50px $color-primary, 0 0 200px $color-primary;
  }
}

// .icons {
//   position: relative;
//   margin-top: 5rem;
// }
// .fab {
//   color: $color-primary;
//   font-size: 4rem;
//   margin: 2rem;
// }

// .nav-item {
//   font-size: 2rem;
//   color: white;
//   padding: 0 5rem;
// }

// a {
//   text-decoration: none;
// }
