// CONTACT SECTION
.contact {
  background-color: $color-secondary;
  // height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);

  &__title {
    color: $color-tertiary;
    text-transform: uppercase;
    font-size: 3rem;
    margin: 3rem 0;
  }

  &__btn {
    color: $color-primary;
    padding: 15px 30px;
    margin-bottom: 8rem;
    border: solid 3px;
    border-radius: 5px;

    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    -webkit-box-reflect: below 5px linear-gradient(transparent, #0005);
  }

  &__btn:hover {
    background: $color-primary;
    color: $color-secondary;
    border: none;
    box-shadow: 0 0 5px $color-primary, 0 0 25px $color-primary,
      0 0 50px $color-primary, 0 0 200px $color-primary;
  }
}

.fab {
  color: $color-primary;
  font-size: 4rem;
  margin: 2rem;
}

a {
  text-decoration: none;
}
