// HOME SCREEN
.title-box {
  &__container {
    background-color: $color-secondary;
    width: 100%;
    padding: 10rem 5rem;

    @media (min-width: 700px) {
      padding: 10rem 10%;
    }

    @media (min-width: 900px) {
      padding: 15rem 25%;
    }
  }

  &__title {
    color: $color-tertiary;
    font-size: 5rem;
    letter-spacing: 1rem;
  }

  &__sub-title {
    color: $color-primary;
    font-size: 3rem;
    letter-spacing: 1rem;
  }

  &__sub-box {
    position: absolute;
    margin-top: 10%;
    margin-left: 10%;
    letter-spacing: 0.5rem;
  }
}

.intro-box {
  &__container {
    width: 100%;
    margin-top: 2.5rem;
  }

  &__paragraph {
    color: $color-tertiary;
  }
}
