// HOME SCREEN
.title-box {
  &__container {
    background-color: $color-secondary;
    height: 90vh;
    clip-path: polygon(70% 0%, 100% 20%, 100% 100%, 0 100%, 0 0);
  }

  &__sub-box {
    position: absolute;
    margin-top: 10%;
    margin-left: 10%;
    letter-spacing: 0.5rem;
  }

  &__title {
    color: $color-tertiary;
    font-size: 5rem;
  }

  &__sub-title {
    color: $color-primary;
    font-size: 2rem;
    margin-left: 5.4rem;
  }
}

.intro-box {
  &__container {
    position: absolute;
    margin-top: 65%;
    width: 100%;
    padding: 0 10%;
    color: $color-tertiary;
    font-size: 2.2rem;
  }
}
